<nav class="navbar navbar-expand-md navbar-light" style="background-color:#BBF417">
    <a class="navbar-brand" href="/">
        <img src="{{ url_for('static', filename='favicon/favicon-32x32.png') }}" width="32" height="32" class="d-inline-block align-top" alt="">
        aceh40
    </a>
    <!--The collapse navbar button below does not work!!!-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/blog">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Journal</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Stringing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item dropdown">
                <!-- row below should be class="nav-link dropdown-toggle"-->
                <a class="nav-link disabled" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Stats</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="/weighthistory">Weight History</a>
                    <a class="dropdown-item" href="/tennishistory">Tennis History</a>
                    <a class="dropdown-item" href="/stringinghistory">Stringing History</a>
                    <a class="dropdown-item" href="/workouthistory">Workout History</a>
                </div>
            </li>
        </ul>
    </div>
</nav>